@import '../../../styles/functions/variables.scss';

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    li {
        margin-right: 1px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    a {
        color: $colour__grey--dark;
        padding: $spacer__default $spacer__default 0.5rem $spacer__default;
        background-color: transparentize($color: $colour__grey--dark, $amount: 0.8);
        text-decoration: none;
        border: 1px solid transparent;

        &:hover {
            background-color: transparentize($color: $colour__grey--dark, $amount: 0.95);
        }
        
        &.active {
            background-color: transparent;
            border: 1px solid $colour__grey--dark;
            border-bottom: none;
        }
    }
}